!!!
%head
  %title Campaign Growth
  %script{ src: "d3.v3.min.js" }
  %script{ src: "campaign_growth.js" }
  %script{ src: "load_data.js" }
  %link{ rel: "stylesheet", type: "text/css", href: "bootstrap.min.css"}
  %link{ rel: "stylesheet", type: "text/css", href: "campaign_growth.css"}
%body
  .container
    #pane_simple
    #pane_detail
